<div id="dhlparcel-shipping-servicepoint-info"
     data-bind="visible: DHLParcel_Shipping_SelectedMethod() == 'dhlparcel_servicepoint'">
    <div class="step-title" data-bind="i18n: 'DHL ServicePoint Options'"></div>
    <p><span data-bind="i18n: 'You have selected'"></span> <strong><span
            data-bind="text: DHLParcel_Shipping_ServicePointName()"></span></strong>.</p>
    <div id="dhlparcel-shipping-servicepoint-info-error" style="display: none;"
         data-bind="i18n: 'Please choose a DHL ServicePoint.'"></div>
    <button id="dhlparcel-shipping-servicepoint-button"
            data-bind="text: DHLParcel_Shipping_HasServicePoint() ? $t('Choose a different DHL ServicePoint') : $t('Please choose a DHL ServicePoint')">
    </button>
</div>
