<div id="dhlparcel-shipping-servicepoint-info" data-bind="visible: DHLParcel_Shipping_SelectedMethod() == 'dhlparcel_servicepoint'">
    <div class="step-title">ServicePoint Options</div>
    <p>You have selected <strong><span data-bind="text: DHLParcel_Shipping_ServicePointName()"></span></strong>.</p>
    <div id="dhlparcel-shipping-servicepoint-info-error" style="display: none;">
        Please choose a ServicePoint.
    </div>
    <button id="dhlparcel-shipping-servicepoint-button">Choose a different ServicePoint</button>
</div>
