<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="dhlparcel_shipping_deliverytimes_priority" xsi:type="string">sales_order.dhlparcel_shipping_deliverytimes_priority</item>
                <item name="dhlparcel_shipping_servicepoint_id" xsi:type="string">sales_order.dhlparcel_shipping_servicepoint_id</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="DHLParcel\Shipping\Ui\Bulk\ActionsShipments" type="DHLParcel\Shipping\Ui\Bulk\Actions">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">dhlparcel_shipping/bulk/</item>
                <item name="skipCreate" xsi:type="boolean">true</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translate="true">Are you sure</item>
                    <item name="message" xsi:type="string" translate="true">Are you sure you want these actions to be taken</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Sales\Model\Order\Shipment">
        <plugin name="DHLParcel_Shipping::emailShipmentTrack" type="DHLParcel\Shipping\Plugin\Email\Shipment\Track"/>
    </type>
    <type name="DHLParcel\Shipping\Logger\ErrorHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\InfoHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\NoticeHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\WarningHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Ui\Bulk\Actions">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="urlPath" xsi:type="string">dhlparcel_shipping/bulk/</item>
                <item name="confirm" xsi:type="array">
                    <item name="title" xsi:type="string" translate="true">Are you sure</item>
                    <item name="message" xsi:type="string" translate="true">Are you sure you want these actions to be taken</item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\DebugLogger">
        <arguments>
            <argument name="name" xsi:type="string">DHLParcel_Shipping</argument>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">DHLParcel\Shipping\Logger\ErrorHandler</item>
                <item name="info" xsi:type="object">DHLParcel\Shipping\Logger\InfoHandler</item>
                <item name="notice" xsi:type="object">DHLParcel\Shipping\Logger\NoticeHandler</item>
                <item name="warning" xsi:type="object">DHLParcel\Shipping\Logger\WarningHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="dhlparcel_shipping_add_order_extension_attribute" type="DHLParcel\Shipping\Plugin\OrderRepositoryPlugin"/>
    </type>
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="dhlparcel_shipping_change_track_template" type="DHLParcel\Shipping\Plugin\ChangeTrackTemplate"/>
    </type>

</config>
