<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Shipment">
        <plugin name="DHLParcel_Shipping::emailShipmentTrack" type="DHLParcel\Shipping\Plugin\Email\Shipment\Track"/>
    </type>

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="dhlparcel_shipping_deliverytimes_priority" xsi:type="string">sales_order.dhlparcel_shipping_deliverytimes_priority</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="DHLParcel\Shipping\Logger\ErrorHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\InfoHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\NoticeHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\WarningHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="DHLParcel\Shipping\Logger\DebugLogger">
        <arguments>
            <argument name="name" xsi:type="string">DHLParcel_Shipping</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="error" xsi:type="object">DHLParcel\Shipping\Logger\ErrorHandler</item>
                <item name="info" xsi:type="object">DHLParcel\Shipping\Logger\InfoHandler</item>
                <item name="notice" xsi:type="object">DHLParcel\Shipping\Logger\NoticeHandler</item>
                <item name="warning" xsi:type="object">DHLParcel\Shipping\Logger\WarningHandler</item>
            </argument>
        </arguments>
    </type>
</config>
