/* Modal Content/Box */
@media screen and (max-width: 599px) {
    .modal-popup.dhlparcel-shipping-modal .modal-inner-wrap,
    .checkout-index-index .modal-popup.dhlparcel-shipping-modal .modal-inner-wrap {
        width: 95%;
        width: 95vw;
        height: 95vh;
        margin: 2.5vh auto 0 auto;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .modal-popup.dhlparcel-shipping-modal .modal-inner-wrap,
    .checkout-index-index .modal-popup.dhlparcel-shipping-modal .modal-inner-wrap {
        width: 80%;
        width: 80vw;
        height: 95vh;
        margin: 2.5vh auto 0 auto;
    }
}

@media screen and (min-width: 1025px) {
    .modal-popup.dhlparcel-shipping-modal .modal-inner-wrap,
    .checkout-index-index .modal-popup.dhlparcel-shipping-modal .modal-inner-wrap {
        width: 85%;
        width: 85vw;
        height: 95vh;
        margin: 2.5vh auto 0 auto;
    }
    /** Amasty checkout compatibility **/
    .checkout-index-index .modals-wrapper .modal-popup.dhlparcel-shipping-modal:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap {
        width: 85%;
        width: 85vw;
        max-width: none;
        height: 95vh;
        margin: 2.5vh auto 0 auto;
    }
}

.modal-popup.dhlparcel-shipping-modal .modal-inner-wrap,
.checkout-index-index .modal-popup.dhlparcel-shipping-modal .modal-inner-wrap {
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    border: 1px solid #888;
    left: 0; /* Disable the default modal setting a left */
}

.modal-popup.dhlparcel-shipping-modal .modal-header {
    padding-left: 0;
    display: none;
}

.modal-popup.dhlparcel-shipping-modal .modal-content {
    padding-left: 0;
    padding-right: 0;
}

.modal-popup.dhlparcel-shipping-modal .modal-footer {
    padding: 0;
}

#dhlparcel_shipping_locator_real_reset {
    all: initial;
}


.modal-popup.dhlparcel-shipping-modal #dhlparcel-shipping-modal-content,
.modal-popup.dhlparcel-shipping-modal #dhl-servicepoint-locator-component,
.modal-popup.dhlparcel-shipping-modal .modal-inner-wrap,
.modal-popup.dhlparcel-shipping-modal .modal-content {
    height: 100%;
}


#dhl-servicepoint-locator-component *:focus {outline:none !important}

#dhl-servicepoint-locator-component input[type='text'],
#dhl-servicepoint-locator-component input[type='number'],
#dhl-servicepoint-locator-component input[type='email'],
#dhl-servicepoint-locator-component input[type='tel'],
#dhl-servicepoint-locator-component input[type='url'],
#dhl-servicepoint-locator-component input[type='password'],
#dhl-servicepoint-locator-component input[type='search'],
#dhl-servicepoint-locator-component textarea,
#dhl-servicepoint-locator-component .input-text {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    animation-name: mui-auto-fill-cancel;
    letter-spacing: inherit;
    animation-duration: 10ms;
    -webkit-tap-highlight-color: transparent;
    box-shadow: none;
}

#dhl-servicepoint-locator-component input.MuiOutlinedInput-input[type='text'],
#dhl-servicepoint-locator-component input.MuiOutlinedInput-input[type='number'],
#dhl-servicepoint-locator-component input.MuiOutlinedInput-input[type='email'],
#dhl-servicepoint-locator-component input.MuiOutlinedInput-input[type='tel'],
#dhl-servicepoint-locator-component input.MuiOutlinedInput-input[type='url'],
#dhl-servicepoint-locator-component input.MuiOutlinedInput-input[type='password'],
#dhl-servicepoint-locator-component input.MuiOutlinedInput-input[type='search'],
#dhl-servicepoint-locator-component textarea.MuiOutlinedInput-input,
#dhl-servicepoint-locator-component .input-text.MuiOutlinedInput-input {
    color: #333333;
    padding: 28px 14px 10px;
    font-size: 16px;
    font-style: normal;
    font-family: Delivery Light;
    font-weight: 400;
    z-index: 9;
    border: none;
}

#dhl-servicepoint-locator-component input[type='text']:focus,
#dhl-servicepoint-locator-component input[type='number']:focus,
#dhl-servicepoint-locator-component input[type='email']:focus,
#dhl-servicepoint-locator-component input[type='tel']:focus,
#dhl-servicepoint-locator-component input[type='url']:focus,
#dhl-servicepoint-locator-component input[type='password']:focus,
#dhl-servicepoint-locator-component input[type='search']:focus,
#dhl-servicepoint-locator-component textarea:focus,
#dhl-servicepoint-locator-component .input-text:focus {
    background: transparent;
}

#dhlparcel_shipping_locator_real_reset form,
#dhlparcel_shipping_locator_real_reset input[name="postNumber"],
#dhlparcel_shipping_locator_real_reset fieldset:not(.MuiOutlinedInput-notchedOutline),
#dhlparcel_shipping_locator_real_reset {
    all: initial;
}

.dhlparcel-shipping-modal .modal-inner-wrap {
    display: none;
}

.dhlparcel-shipping-modal._show .modal-inner-wrap {
    display: block;
}